@{
    ViewBag.Title = "Contáctanos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="align-content:center">
    <div class="container-fluid col-md-12 align-content:center" style="align-content:center; vertical-align:middle; margin: 0 auto; overflow: hidden;  margin-left: 0 auto;  margin-right: 0 auto;  padding: 0 0 0 0;">
        <section class="container-fluid row" style="vertical-align:middle; text-align: center;  margin: 0 auto; overflow: hidden;  margin-left: 0 auto;  margin-right: 0 auto;  padding: 0 0 0 0;">
            <article class="container-fluid col-xs-12 col-sm-8 col-md-8 col-lg-8" style="vertical-align:middle; text-align: center;  margin: 0 auto; align-content:center">




                <div style="background-color:#5c87b2; color:#ffffff;" class="container-fluid col-md-8 jumbotron img-rounded bg-primary">
                    <h2>@ViewBag.Title.</h2>



                    <p style="background-color:#5c87b2; color:#ffffff; text-align:left">
                        &nbsp;
                        Cualquier duda relacionada con la operación de este portal
                        dirigirse con los supervisores o a la Area de Sistema 
                    </p>

                    @*<address>
                            <p style="box-sizing: border-box; word-break: break-word; word-wrap: break-word; margin-bottom: 15px; margin-top: 0px; color: rgb(74, 74, 74); font-family: Lato; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; font-size: 20px;">
                                Av. Ricardo Margain Zozaya No. 335<br style="box-sizing: border-box;" />
                                Torre 2 Piso 6, Valle del Campestre<br style="box-sizing: border-box; margin-bottom: 0px;" />
                                66265 San Pedro Garza García, N.L.
                            </p>
                            <p style="box-sizing: border-box; word-break: break-word; word-wrap: break-word; margin-bottom: 0px; margin-top: 0px; font-family: Lato; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; font-size: 20px;">
                                <span style="box-sizing: border-box; margin-bottom: 0px; color: rgb(39, 146, 236);"><strong style="box-sizing: border-box; font-weight: bold; margin-bottom: 0px;">T. +52&nbsp;(81) 8152 4500</strong></span>
                            </p>
                        </address>*@
                    <br />
                    <br />
                    <h3>@ViewBag.Message</h3>
                    <address style="background-color:#5c87b2; text-align:center">
                            <strong>Support:</strong>   <a style="color:#ffffff" href="mailto:Support@example.com">Support@example.com</a><br />
                            <strong>Helpdesk extensión 1111:</strong> <a style="color:#ffffff" href="mailto:helpesk@example.com">helpesk@example.com</a>
                    </address>
                    <p>&nbsp;</p>
                </div>


            </article>

        </section>


    </div>
    <br />
</body>


